.site-header
    position: relative
    z-index: 2
    display: flex
    justify-content: space-around
    align-items: center
    .main-nav-wrapper
        width: 60%
        font-style: normal
        font-weight: 400
        ul
            list-style-type: none
            display: flex
            justify-content: space-between
            width: 100%
            .link-wrapper-main
                display: flex
                align-items: center
                a
                    font-size: 18px
                //------Phone
                .link-phone
                    color: #ffffff
                    text-decoration: none
                    transition: .5s ease
                    &:hover
                        color: #D6B33F
                //-------BTN ORDER CALL
                .order-call-link
                    color: #ffffff
                    text-decoration: none
                    position: relative
                    overflow: hidden
                    padding-bottom: 5px
                    transition: .3s ease
                    &:hover
                        color: #D6B33F
                        &::after
                            width: 100%
                            opacity: 1
                    &::after
                        content: ''
                        position: absolute
                        bottom: 0
                        left: 0
                        background-color: #fff
                        width: 0% 
                        height: 2px
                        opacity: 0
                        transition: .4s ease
                        transition-delay: .3s
                //------BTN ORDER 
                .order-fly-link
                    color: #ffffff
                    text-decoration: none
                    background: #D6B33F
                    padding: 15px
                    border-radius: 10px
                    transition: .5s ease
                    &:hover
                        transform: scale(1.1)
                span 
                    color: #FFFF   
                .ru
                    cursor: pointer
                    margin: 10px
                    transition: .5s ease
                    span 
                        color: #FFFF
                        font-size: 20px 
                        &:hover
                            color: #D6B33F      
                .eng
                    cursor: pointer
                    margin: 10px
                    transition: .5s ease   
                    span 
                        color: #FFFF
                        font-size: 20px
                        &:hover
                            color: #D6B33F
                           
.nav-mobile
    position: fixed
    right: -250px
    top: 0
    background-color: #000
    height: 100%
    z-index: 2
    animation: fadeOut .3s ease-in-out forwards
    &.is-active
        animation: fadeIn .3s ease-in-out forwards
    ul
        list-style-type: none
        padding: 22px
        li
            display: flex
            align-items: center
            margin-bottom: 25px
            a
                text-decoration: none
                color: #ffffff
            .order-fly-link
                color: #ffffff
                text-decoration: none
                background: #D6B33F
                padding: 15px
                border-radius: 10px
                transition: .5s ease
                &:hover
                    transform: scale(1.1)
.esc-wrapper
    font-size: 22px
    color: #ffffff
    text-align: center
@keyframes fadeIn
    0%
        right: -250px
    100%
        right: 0
@keyframes fadeOut
    0%
        right: 0
    100%
        right: -250px
@media screen and ( max-width: 1020px )
    .site-header
        
        .logo-wrapper
            margin-bottom: 45px
        .main-nav-wrapper
            width: 90%
            ul
                padding: 0
@media screen and ( max-width: 480px )
    .text-composition-wrapper
        padding-left: 20px    
    .lessons-wrapper-main
        display: none       