.excursion-wrapper
    display: flex
    justify-content: space-around
    text-align: center
    cursor: pointer
    .h3
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        font-size: 30px
        letter-spacing: 0.05em
    p
        color: #797979
        font-size: 20px
        span
            background: url('../../../image/time-vals.png')
            background-size: cover
            width: 15px
            height: 15px
            display: inline-block
            margin-right: 10px
.link-wrap-to
    padding-top: 45px
    padding-bottom: 45px
    display: flex
    justify-content: center
    .link-item
        color: #000000
        text-decoration: none
        padding: 15px
        border-radius: 10px
        border: 2px solid #D6B33F
        font-size: 18px
        transition: .3s ease
        &:hover
            transform: scale(1.1)