.routes
    position: relative

.top-line
    max-width: 100%
    padding: 62px 70px

    .h1
        font-size: 60px
        color: #000000
        margin: 0
.wrapper-collection-routes
    display: flex
    padding: 30px 70px
    max-width: 100%
    .nav-routes-wrap
        width: 60%
        ul
            margin: 0
            padding: 10px 0
            border-left: 1px solid rgba(0, 0, 0, 0.35);
            list-style-type: none
            padding-left: 15px
            li
                cursor: pointer
                margin-bottom: 20px
                &:hover
                    span
                        color: #D6B33F;
                span
                    font-size: 22px
                    font-weight: 300
                    transition: color .3s ease 
.wrapper-item-routes-task
    min-width: 70%
    .top-line-route-wrapper
        .h3
            font-size: 40px
            font-weight: 400
            margin-bottom: 30px
    .wrap-item-coll
        display: flex
        flex-direction: row
        justify-content: space-around
        flex-wrap: wrap
        .item-wrapper-route
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            cursor: pointer
            width: 350px
            margin-bottom: 25px
            height: 100%
            .image-wrapper 
                width: 345px
                margin-bottom: 31px
                img
                    width: 293px
                    height: 243px
                    border-radius: 22px 
            .name-wrapper
                margin-bottom: 15px
                cursor: default
                span
                    font-weight: 400
                    font-size: 20px
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                    
            .time-wrapper
                display: flex
                align-items: center
                cursor: default 
                span
                    display: inline-block
                    margin-left: 10px
.text-firs-wrapp
    display: flex
    justify-content: flex-end
    flex-direction: column
    align-items: flex-end
    max-width: 100%
    padding: 30px 220px
    margin-bottom: 35px
    .h3
        width: 70% 
        font-size: 20px
        margin-bottom: 5px 
    p
        font-weight: 400
        font-size: 20px
        width: 70%
.text-second-wrapper
    display: flex
    flex-direction: column
    max-width: 100%
    padding: 30px 220px
    align-items: center
    
    .text-second-collect
        width: 70%
        display: flex
        justify-content: space-between
        img
            width: 290px
            height: 202px
            margin-right: 25px
            display: inline-block
        .text-in-out
            p
                font-size: 20px
                letter-spacing: 0.1em;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 15px
            span
                display: inline-block
                border-radius: 10px
                background: #D6B33F
                color: #ffffff
                padding: 15px 35px
                cursor: pointer
                transition: all .3s ease
                &:hover
                    transform: scale(1.1)
@media screen and ( max-width: 780px )
    .text-second-wrapper
        padding: 30px 15px
@media screen and ( max-width: 730px )
    .text-second-wrapper
        display: none
    .text-firs-wrapp
        padding: 30px 15px
    .wrapper-collection-routes
        flex-direction: column
        align-items: center
        .nav-routes-wrap
            width: 75%
@media screen and ( max-width: 480px )
    .top-line
        .h1
            font-size: 30px
    
    