.lessons-wrapper-main
    padding: 90px 60px
    max-width: 100% 
    .lessons-composition
        
        display: flex
        background: url('../../../image/bg-lessons.svg')
        padding: 50px 60px
        background-size: cover
        background-position: center
        align-items: center
        justify-content: space-around
        .h1
            color: #ffffff
            font-size: 48px
            font-weight: 700
            letter-spacing: 0.15em
        a
            color: #ffffff
            text-decoration: none
            font-size: 26px
            border: 2px solid #D6B33F
            padding: 18px 
            border-radius: 10px
            span
                position: relative
                top: 7px
                background: url('../../../image/la_long-arrow-alt-right-solid.svg')
                width: 30px
                height: 30px
                background-size: cover
                display: inline-block

@media screen and ( max-width: 1080px )
    .lessons-wrapper-main 
        .lessons-composition 
            .h1
                font-size: 34px