.card-item-wrapper
    display: flex
    max-width: 100%
    padding: 30px 70px
    .image-wrapper-s
        width: 100%
    .text-card-composition
        display: flex
        flex-direction: column
        .top-line-wrapp-card
            .h1
                font-size: 50px
                font-weight: 700
                margin-bottom: 40px
