.card-item-wrapper
    display: flex
    max-width: 100%
    padding: 30px 70px
    .image-wrapper-s
        width: 100%
    .text-card-composition
        display: flex
        flex-direction: column
        max-width: 100%
        padding: 0 35px
        .top-line-wrapp-card
            .h1
                font-size: 50px
                font-weight: 700
                margin-bottom: 40px
        .time-wrap
            display: flex
            align-items: center
            width: 6%
            justify-content: space-between
        .flex-compose
            display: flex
            max-width: 100%
            justify-content: space-between
            align-items: center
            .select-atribute
                width: 250px
                border-radius: 25px
            p
                font-size: 25px
                font-weight: bold
            .btn-wrapper
                cursor: pointer
                background-color: #D6B33F
                user-select: none
                color: #ffffff
                padding: 12px 35px
                border-radius: 10px

@media screen and ( max-width: 1110px )
    .card-item-wrapper 
        .text-card-composition 
            .top-line-wrapp-card 
                .h1
                    font-size: 36px
            .flex-compose 
                flex-direction: column
@media screen and ( max-width: 830px )
    .card-item-wrapper
        flex-direction: column
        align-items: center
        
        justify-content: center
        .image-wrapper-s
            max-width: 50%
@media screen and ( max-width: 520px )
    .card-item-wrapper 
        .image-wrapper-s
            max-width: 100%
            img
                width: 100%
    
        
    

