.main-wrapper
    width: 100%
    min-height: 750px
    height: 100%
    background: url('../../../image/bg1.svg')
    position: relative
    background-size: cover
   
.bg-lock-main
    width: 100% 
    height: 100%    
    position: absolute
    background: rgba(#000, .8)
    z-index: 1
.nav-wrap-main
    width: 100% 
    display: flex
    justify-content: center
    z-index: 1
    position: relative
    padding: 50px 0
    
    ul
        width: 40%
        list-style-type: none
        display: flex
        flex-direction: row
        justify-content: space-evenly
        position: relative
        padding-bottom: 15px
        padding-left: 0
        &::after
            content: ''
            position: absolute
            background-color: #ffffff
            width: 100%
            height: 1px
            bottom: 0
            left: 0
        li
            width: 21%
            text-align: center
            a
                
                color: #ffffff
                text-decoration: none
                font-size: 20px
                font-weight: 300
                transition: .4s ease
                &:hover
                    color: #D6B33F
.text-composition-wrapper
    display: flex
    flex-direction: column
    color: #ffffff
    position: relative
    z-index: 1
    width: 40%
    padding-top: 75px
    padding-left: 150px
    .logo-text
        display: inline-block
        .logo-main
            font-size: 20px
            color: #D6B33F
            font-weight: 400
            letter-spacing: 0.2em
    .text-main
        margin-bottom: 70px
        .h1
            font-weight: bold
            font-size: 70px
            line-height: 23px
            color: #ffffff
    .btn-order-text-composition
        display: flex
        align-items: center
        background: #D6B33F
        width: 200px
        justify-content: center
        height: 70px
        border-radius: 10px
        cursor: pointer
        user-select: none
        transition: .4s ease
        &:hover
            transform: scale(1.1)
        .text-bt
            font-size: 26px
            font-weight: 400
        .arrow-btn
            background: url('../../../image/la_long-arrow-alt-right-solid.svg')
            width: 30px
            height: 30px
            background-size: cover
            display: inline-block

@media screen and ( max-width: 1300px ) 
    .text-composition-wrapper 
        .text-main 
            .h1
                font-size: 54px


@media screen and ( max-width:  1020px)
    .nav-wrap-main
        ul
            width: 62%
@media screen and ( max-width: 920px )
    .text-composition-wrapper 
        .text-main 
            .h1
                font-size: 32px
@media screen and ( max-width: 480px )
    .text-composition-wrapper 
        padding-left: 15px
        .text-main 
            .h1
               font-size: 22px